/* Modelo de trabajar
1. posicionamiento
2. modelo de caja (box model)
3. tipografia 
4. visuales
5. miselaneos (otros) 
*/

/* Reseteando margenes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

html {
    font-family: 'Inter';
    font-size: 62.5%;
}

.cabecera {
    text-align: center;
    width: 100%;
    height: 10opx;
} 

.cabecera__logo {
    width: 35%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    width: 80vw;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 3rem;
    border: none;
    color: #0a3871;
    text-transform: lowercase;
}

::placeholder {
    color: #0a3871;
}
.textarea:focus {
    outline: none;
}

.regla__parrafo {
    font-size: 1rem;
}

.mensajes {
    background: white;
    background-image: url("/imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 3rem;
    border: none;
    border-radius: 2.4rem;;
    color: #0a3871;
    text-transform: lowercase;
}

.mensajes:focus {
    outline: none;
}

.botones {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn__encriptar {
    margin-bottom: 1rem;
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 2.4rem;
    color: white;
    cursor: pointer;
    height: 6rem;
    font-size: 3rem;
}

.btn__desencriptar {
    margin-bottom: 1rem;
    border: 1px solid #0a3871;
    border-radius: 2.4rem;
    color: #0a3871;
    cursor: pointer;
    height: 6rem;
    font-size: 3rem;
}

.copiar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 1px solid #0a3871;
    border-radius: 2.4rem;
    color: #0a3871;
    cursor: pointer;
    height: 6rem;
    font-size: 3rem;
}

.pie h6{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    background-color: #0a3871;
}

.pie {
    width: 100vw;
    bottom: 0;
}

@media screen and (min-width:600px) {
    .cabecera__logo {
        width: 30%;
    }
    .botones {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .btn__encriptar {
        width: 40%;
    }

    .btn__desencriptar {
        width: 40%;
    }
}

@media screen and (min-width: 900px) {
    .container {
        flex-direction: row;
        justify-content:space-evenly;
    }
    .cabecera {
        display: flex;
        justify-content: flex-start;
    }

    .cabecera__logo {
        width: 16%;
        min-width: 15%;
    }

    .textarea {
        width: 90%;
        padding-left: 10rem;
    }

    .mensajes {
        width: 100%;
        align-self: center;
    }

    .desencriptador {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn__encriptar {
        width: 45%;
        font-size: 2rem;
    }

    .btn__desencriptar {
        width: 45%;
        font-size: 2rem;
    }

    .copiar  {
        font-size: 2rem;
    }

    .pie {
        position: absolute;
        width: 100vw;
    }
}


