/* Modelo de trabajar
1. posicionamiento
2. modelo de caja (box model)
3. tipografia 
4. visuales
5. miselaneos (otros) 
*/

/* Reseteando margenes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

html {
    font-family: 'Inter';
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 96px;
    min-width: 375px;
}

